<h1>Simple Questions</h1>

<p>
  <%= link_to 'New question', test_path(@questions) %>
</p>

<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>
    <%= render @questions %>
  </table>

  