<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.badge_type %></td>
  <td class="align-middle"><%= badge.badge_value %></td>
  <td class="align-middle"><%= badge.image_url %></td>
</tr>
