<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <div class="card text-center mb-4 mt-4">
      <div class="card-header">
        <%= @gist.question.body %>
      </div>

      <div class="card-body">
        <ol>
          <%= render partial: 'answer', collection: @gist.question.answers %>
        </ol>
      </div>

      <div class="card-footer">
        <%= link_to t('helpers.page'), admin_gists_path, class: 'btn btn-outline-primary' %>
        <%= link_to t('.show_url'), @gist.gist_url, class: 'btn btn-outline-success' %>
      </div>
    </div>
  </div>
</div>
