<div class="footer">
  <p><%= current_year %>
  &nbsp;
  <%= github_url('bocalo', 'test-guru', 'TestGuru') %></p>
  <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", 'https://thinknetica.com' %></p>
</div>