<li>
  <%= answer.body %><br>
  <%= link_to t('helpers.show'), admin_answer_path(answer) %> |
  <%= link_to t('helpers.edit'), edit_admin_answer_path(answer) %> |
  <%= link_to t('helpers.delete'),
              admin_answer_path(answer),
              method: :delete,
              data: { confirm: t('helpers.sure') %> 
  </li>
