<h1>Tricky Tests</h1>

<%# <p><%= link_to 'New test', new_test_path </p> %>

 <table>
  <tr>
    <th>Title</th>
    <th>Level</th>
  </tr>

  <% @tests.each do |test| %>
    <td><%= test.title %></td>
    <td><%= test.level %></td>
  <% end %>
</table>